<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/adminDepart.html}"
       >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content"  class="offset-2 col-8">

<div th:if ="${message != null}">
    <h3 th:text ="${message}"> </h3>
</div>

<form th:action="@{/departs/saveOrUpdate}" method="post" th:object="${depart}">
    <div th:if="${id >0}" class="form-group"> 
    	<label for="departId">Department ID:</label>
     <input th:field="*{id}" placeholder="Department ID" class="form-control"> <br/>
     </div>
     <div class="form-group">
     <label for="name">Tên Phòng:</label>
     <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/> 
     </div>
     <div class="form-group">
     	<input type="submit" value="Add" th:if="${id <= 0}" class="btn btn-outline-primary"/>
     	<input type="submit" value="Update" th:if="${id>0}" class="btn btn-outline-primary"/>
     </div>
     
     
     <a th:href="@{/departs/add}" class="btn btn-outline-dark">New</a> |
     <a th:href="@{/departs/list}" class="btn btn-outline-secondary">Danh sách Phòng Ban</a>
</form>

</div>


</body>
</html>